<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fullchaser">

  <xacro:arg name="sim_gazebo" default="true"/>

  <gazebo>
    <self_collide>false</self_collide>
  </gazebo>


  <!-- Include UR description macros -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- Chaser base -->
  <link name="chaser_base">
    <visual>
      <geometry><box size="1 1 0.5"/></geometry>
      <material name="blue"><color rgba="0 0 1 1"/></material>
    </visual>
    <collision><geometry><box size="1 1 0.5"/></geometry></collision>
  </link>

  <!-- Fix base in world -->
  <link name="world"/>
  <joint name="base_to_world" type="fixed">
    <parent link="world"/>
    <child link="chaser_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- UR5e robot -->
  <xacro:ur_robot
    name="ur5e"
    tf_prefix=""
    parent="chaser_base"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
    sim_gazebo="true"
    use_fake_hardware="false">
    <origin xyz="0 0 0.25" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- RealSense camera on tool -->
  <link name="realsense_link">
    <visual>
      <geometry><box size="0.05 0.05 0.02"/></geometry>
      <material name="gray"><color rgba="0.7 0.7 0.7 1.0"/></material>
    </visual>
  </link>

  <joint name="realsense_mount" type="fixed">
    <parent link="tool0"/>
    <child link="realsense_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo camera plugin -->
  <gazebo reference="realsense_link">
    <sensor type="depth" name="realsense_rgbd">
      <update_rate>30.0</update_rate>
      <camera name="realsense_camera">
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip><near>0.05</near><far>5.0</far></clip>
      </camera>
      <plugin name="realsense_camera_plugin" filename="libgazebo_ros_camera.so">
        <ros>
          <namespace>/realsense</namespace>
          <remapping>~/image_raw:=image_raw</remapping>
          <remapping>~/depth/image_raw:=depth/image_raw</remapping>
        </ros>
        <frame_name>realsense_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

</robot>

